* {
  box-sizing: border-box;
}
.box1 {
  background-color: red;

  /* Content box */
  /* Chi nen su dung 1 thuoc tinh, thuong la chieu rong width */
  width: 300px;
  height: auto;

  /* Padding box */
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 50px;
  padding-bottom: 25px;

  /* border box */
  /* border nhan 3 gia tri cho width style color */
  border: 10px dotted yellow;

  /* Chi dinh gia tri weight/height se ap dung cho box nay */

  /* Margin  */
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  /* box shadow */
  box-shadow: 10px 20px 15px black;

  /* border radius */
  border-radius: 10px;
}

.box2 {
  background-color: green;

  /* Content box */
  width: 400px;
  height: auto;
  padding: 10px 20px 30px 25px;
  border: 15px double purple;
  margin-top: 40px;
  margin-bottom: 20px;

  /* padding: top right bottom left; */
  /* padding: top-bottom left-right; */
  /* padding: all; */
  /* padding: top left-right bottom; */
  /* Kich thuoc cua 1 phan tu dc tinh bang  (width, height) + padding */
}

.avatar {
  width: 200px;
  height: 200px;
  /*Ap dung cho van ban  */
  overflow: hidden;
  border-radius: 9999px;
}
/* Mot so thuoc tinh cho anh */

img {
  max-width: 100%;
  vertical-align: middle;
}

/* Anh nen */
body {
  background-image: url(https://images.news18.com/ibnlive/uploads/2022/03/cristiano-ronaldo-ap.jpg);
    max-width: 100%;
    /* position */
    /* size */
    /* repeat */
}
