.text-red {
  color: darksalmon(220, 242, 255);
}

.font-big {
  font-size: 50px;
}

.list {
  background-color: blueviolet;
}

.decoration {
  text-decoration: overline burlywood 2px;
}

.vertical-align {
  vertical-align: text-top;
  text-decoration-line: underline;
}
.spacing {
  text-indent: 30px;
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 30px;
  text-transform: lowercase;
  text-shadow: 0 0 3px #ff0000;
}

.shadow {
  text-shadow: 15px -5px 10px grey;
  text-align: center;
}
